$color-light-grey: #f5f5f5;
$color-dark-grey: #5c5c5c;
$color-light-blue: #a1c8d1;
$color-dark-blue: #6393a0;
$color-orange: #e87905;

$color-background: $color-light-grey;
$color-text: $color-dark-grey;

$color-breathe-box-background: $color-light-blue;
$color-breathe-box-dot: $color-orange;
