h1.title Panic attack?
p.description Follow the dot and take a deep breath.

.box-of-breathe
  .box-of-breathe__text.box-of-breathe__text--upper Breathe in
  .box-of-breathe__text.box-of-breathe__text--right Hold
  .box-of-breathe__text.box-of-breathe__text--bottom Breathe out
  .box-of-breathe__text.box-of-breathe__text--left Hold
  .box-of-breathe__box
    .box-of-breathe__dot
    img.box-of-breathe__lung(src="~@images/icons/lung.svg" width="160" alt="Lung")
